/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.content{
    padding: 1rem;
}
a{
    color: black;
    font-size: 2rem;
}
.content > h1{
    font-size: 1.25rem;
}
.content > p{
    font-size: 1rem;
}
body {
  min-height: 100vh;
  width: 100%;
  background: #46bbe6;
}
.msg{
    border: 1px solid rgb(74, 122, 2);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 1.5rem;
    background-color: rgba(198, 246, 125, 0.952);
}
.msg > p{
    color: rgb(74, 122, 2);
}
.error{
    text-align: center;
    border: 1px solid red;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 1.5rem;
    background-color: rgba(230, 151, 151, 0.952);
}
.error> p{
    color : red;
}
.center{
    display: flex;
    justify-content: center;
}
.container {
  max-width: 26rem;
  width: 100%;
  background: #fff;
  border-radius: 0.6rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container .registration {
  display: none;
}
.container .form {
  padding: 2rem;
}
.form header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
.form input {
  height: 4rem;
  width: 100%;
  padding: 0 0.9rem;
  font-size: 1rem;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  outline: none;
}
.form input:focus {
  box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.2);
}
.form a {
  font-size: 1rem;
  color: #46bbe6;
  text-decoration: none;
}
.form a:hover {
  text-decoration: underline;
}
.form input.button {
  color: #fff;
  background: #46bbe6;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover {
  background: #71bbd5;
}
.signup {
  font-size: 1rem;
  text-align: center;
}
.signup label {
  color: #46bbe6;
  cursor: pointer;
}
.signup label:hover {
  text-decoration: underline;
}
h1 {
  color: black;
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
}
