<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CYBER CHATBOT</title>
    <link rel="stylesheet" href="{{url_for('static',filename='sign.css')}}">
</head>
<body>
    <h1>CYBER-SECURITY CHAT BOT</h1>
    <a href="/register">Click here to Register</a> <br>
    <a href="/login">Click here to Login</a>
    <p class="wel">
        Welcome to the AI Security Chatbot platform! We are dedicated to helping users like you navigate the complex world of cybersecurity with ease and confidence. Our AI chatbot is designed to provide you with instant, real-time assistance for all your cybersecurity questions and concerns.
    </p>
    <div class="content">
        <h2>Our Mission:</h2>
        <p>At AI Security Chatbot, our mission is to empower individuals and businesses with the knowledge they need to protect their digital assets. We believe that cybersecurity is a fundamental aspect of the digital age, and everyone should have access to reliable guidance.

        <h2>How It Works:</h2>
        <p>Our chatbot uses advanced AI to deliver expert cybersecurity advice. Whether you have questions about securing your devices, protecting your data, or understanding the latest threats, our chatbot is here to help. Just type your questions, and our chatbot will provide you with informative and actionable responses.

        <h2>Expertise You Can Trust:</h2>
        <p>Our chatbot is continuously trained and updated to stay current with the ever-evolving cybersecurity landscape. Rest assured that the information and guidance you receive are based on industry best practices and the latest security trends.

        <h2>User-Centric Approach:</h2>
        <p>We prioritize your security needs. If you ever receive a response that says, "it is not trained to answer this question," it's because we are committed to providing accurate and relevant information. If your question falls outside the realm of cybersecurity, we encourage you to explore other topics or reach out to our support team.

        <h2>Get Started:</h2>
        <p>ready to enhance your cybersecurity knowledge and secure your digital world? Join our community by creating an account or logging in, and start a conversation with our AI Security Chatbot. We're here to help you make informed decisions and stay safe in the digital realm.
        Thank you for choosing AI Security Chatbot for all your cybersecurity needs. Your security is our priority.
        </p>
    </div>
</body>
</html>
