<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles.css -->
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CYBER CHATBOT</title>
</head>

<body>
    <div class="chatbot">
        <h1>CYBER-SECURITY CHATBOT</h1>
        <!-- <button id="log-out">log out</button> -->
    </div>
    {%for i,data in chat%}
    {% if data['role']=='user' %}
    <div class="user" id="{{i}}">
        <img src="https://tse2.mm.bing.net/th?id=OIP.4asgnBDK_Gjfrxr0TBs49QHaHa&pid=Api&P=0&h=180" alt="user">
        <p>{{data['content']}}</p>
    </div>
    {%endif%}
    {% if data['role']=='assistant' %}
    <div class="assistant" id="{{i}}">
        <img src="https://tse4.mm.bing.net/th?id=OIP.zdkt-oIL3lwhn3Va7af17wHaHa&pid=Api&P=0&h=180" alt="bot">
        <p class="pData">{{data['content']}}</p>
    </div>
    {%endif%}
    {%endfor%}
    <form action="/chat" method="post">
        <div class="form">
            <input type="text" name="userInput" placeholder="Start chat by saying hello">
            <button class="search-button">
                <div>
                    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/speaker.png" alt="speaker">
                </div>
            </button>
            <button class="search-button">
                <div>
                    <form action="/speech" method="post">
                        <button type="submit">
                    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/filled-sent.png"
                        alt="Sent" ></button>
                    </form>
                    </div>
            </button>
        </div>
    </form>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>
