<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CYBER CHATBOT</title>
    <link rel="stylesheet" href="{{url_for('static',filename='sign.css')}}">
</head>
<body>
    <h1>CYBER-SECURITY CHATBOT</h1>
    <div class="center">
<div class="container">
    <div class="login form">
        <header>Signup</header>
        <form action="/register" method="post">
            <input type="text" name="username" placeholder="username">
            <input type="email" name="email" placeholder="Enter your email"> 
            <input type="password" placeholder="Create a password" name="password">
            <input type="submit" value="register">
        </form>
        <div class="signup">
            <span class="signup">Already have an account? <a href="/login">Login</a> </span>
        </div>
    </div>
</div>
</div>
</body>
</html>
